<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ROS2 Control Macro for the PSM Tool SF826001 -->
    <xacro:macro name="SF826001_ros2_control" params="prefix">

        <!-- Command Joint 0 -->
        <joint name="${prefix}_insertion">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Command Joint 1 -->
        <joint name="${prefix}_roll">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

    </xacro:macro>

</robot>