<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ROS2 Control Macro for the PSM Base -->
    <xacro:macro name="psm_base_ros2_control" params="prefix">

        <!-- Command Joint 0 -->
        <joint name="${prefix}_yaw">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Command Joint 1 -->
        <joint name="${prefix}_pitch">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Mimic Joint 0: Command Joint 1 -->
        <joint name="${prefix}_pitch_2">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Mimic Joint 1: Command Joint 1 -->
        <joint name="${prefix}_pitch_3">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

    </xacro:macro>

</robot>