<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Macros -->
    <xacro:include filename="$(find psm_description)/urdf/ros2_control/Si/psm.tool.P420006.ros2_control.xacro" />
    <xacro:include filename="$(find psm_description)/urdf/ros2_control/Si/psm.tool.SF826001.ros2_control.xacro" />

    <!-- ROS2 Control Macro for the PSM Tool -->
    <xacro:macro name="psm_tool_ros2_control" params="tool_name prefix">

        <xacro:if value="${tool_name == 'P420006'}">
            <xacro:P420006_ros2_control prefix="${prefix}" />
        </xacro:if>

        <xacro:if value="${tool_name == 'SF826001'}">
            <xacro:SF826001_ros2_control prefix="${prefix}" />
        </xacro:if>

    </xacro:macro>

</robot>