<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="psm_base_ros2_control" params="prefix">

        <joint name="${prefix}_outer_yaw">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="${prefix}_pitch">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="${prefix}_outer_insertion">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="${prefix}_outer_roll">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Mimic Joints -->
        <joint name="${prefix}_outer_pitch_1">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="${prefix}_outer_pitch_2">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="${prefix}_outer_pitch_3">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="${prefix}_outer_pitch_4">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="${prefix}_outer_pitch_5">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

    </xacro:macro>

</robot>