<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="psm_tool_sca_ros2_control" params="prefix">

        <joint name="${prefix}_outer_wrist_pitch">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="${prefix}_outer_wrist_yaw">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="${prefix}_jaw">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Mimic joints -->
        <joint name="${prefix}_jaw_mimic_1">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="${prefix}_jaw_mimic_2">
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

    </xacro:macro>

</robot>