<?xml version="1.0"?>
<robot name="ecm_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Macros -->
    <xacro:include filename="$(find ecm_description)/urdf/xacros/ecm.base.xacro" />
    <xacro:include filename="$(find ecm_description)/urdf/ros2_control/ecm.base.ros2_control.xacro" />

    <!-- Parent Link -->
    <link name="world" />

    <!-- ECM Base -->
    <xacro:ecm_base
        prefix="ecm"
        parent_link="world" />

    <!-- ROS2 Control -->
    <xacro:ecm_base_ros2_control prefix="ecm" />

</robot>