<?xml version="1.0"?>
<robot name="ecm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Macros -->
    <xacro:include filename="$(find ecm_description)/urdf/xacros/ecm.xacro" />
    <xacro:include filename="$(find ecm_description)/urdf/ros2_control/ecm.ros2_control.xacro" />

    <!-- Parent Link -->
    <link name="world" />

    <!-- ECM -->
    <xacro:ecm
        prefix="ecm"
        parent_link="world"
        xyz="0 0.0 0.0" rpy="0.0 0.0 0.0" />

    <!-- ROS2 Control -->
    <xacro:ecm_ros2_control prefix="ecm" />

</robot>