<?xml version="1.0"?>
<robot name="daVinci" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">

    <!-- Macros -->
    <xacro:include filename="$(find davinci_core_description)/urdf/xacros/daVinci.arm.xacro" />

    <!-- Parent Link -->
    <link name="world" />

    <!-- Mounting Platform -->
    <link name="mounting_platform">
        <inertial>
            <mass value="0.01" />
            <origin xyz="0 0 0" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://davinci_core_description/meshes/slave_frame.stl" />
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 1.0" />
            <geometry>
                <mesh filename="package://davinci_core_description/meshes/slave_frame.stl" />
            </geometry>
        </collision>
    </link>

    <!-- Mounting Platform Joint -->
    <joint name="wall_joint" type="fixed">
        <parent link="world" />
        <child link="mounting_platform" />
        <origin rpy="0 0 0" xyz="0 -0.762 0" />
    </joint>

    <!-- Left Arm-->
    <xacro:daVinci_arm arm_name="left_arm" parent="mounting_platform" X="0.38114" Y="0.48531" Z="1.60767" />

    <!-- Right Arm-->
    <xacro:daVinci_arm arm_name="right_arm" parent="mounting_platform" X="0.38114" Y="1.03237" Z="1.60767" />

    <gazebo reference="world">
        <material>Gazebo/WoodFloor</material>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="mounting_platform">
        <material>Gazebo/Gold</material>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo>
        <controller:daVinciGazeboJointController name="daVinciGazeboJointController" plugin="libdaVinciGazeboJointController.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>100.0</updateRate>
        </controller:daVinciGazeboJointController>
    </gazebo>

</robot>