<?xml version="1.0"?>
<robot name="both_psms" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Macros -->
    <xacro:include filename="$(find psm_description)/urdf/xacros/Classic/psm.base.xacro" />

    <!-- Parent Link -->
    <link name="world" />

    <!-- Camera -->
    <link name="camera">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.2 0.8" />
    </link>

    <!-- World Joint -->
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="camera" />
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
    </joint>

    <!-- PSM Base 1 -->
    <xacro:psm_base
        prefix="one_"
        parent_link="camera"
        xyz="-0.25 0.0 0.5" rpy="0.0 0.0 ${PI}" />

    <!-- PSM Base 2 -->
    <xacro:psm_base
        prefix="two_"
        parent_link="camera"
        xyz="0.25 0.0 0.5" rpy="0.0 0.0 ${PI}" />

</robot>