<?xml version="1.0"?>
<robot name="psm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Macros -->
    <xacro:include filename="$(find psm_description)/urdf/xacros/Si/psm.base.xacro" />
    <xacro:include filename="$(find psm_description)/urdf/xacros/Si/psm.tool.xacro" />
    <xacro:include filename="$(find psm_description)/urdf/ros2_control/Si/psm.base.ros2_control.xacro" />
    <xacro:include filename="$(find psm_description)/urdf/ros2_control/Si/psm.tool.ros2_control.xacro" />

    <!-- Tool Arguments -->
    <!-- Select tool_name from P420006, SF826001 -->
    <xacro:arg name="tool" default="P420006" />
    <xacro:property name="tool_name" default="'$(arg tool)'" />
    <xacro:property name="prefix" default="PSM" />
    <xacro:property name="parent_link" default="world" />
    <xacro:property name="xyz" default="0.0 0.0 0.0" />
    <xacro:property name="rpy" default="0.0 0.0 0.0" />

    <!-- Parent Link -->
    <link name="${parent_link}" />

    <!-- PSM with Tool -->
    <xacro:psm_base
        prefix="${prefix}"
        parent_link="${parent_link}"
        xyz="${xyz}" rpy="${rpy}" />
    <xacro:psm_tool
        tool_name="${tool_name}"
        prefix="${prefix}"
        parent_link="${prefix}_tool_parent"
        xyz="${xyz}" rpy="${rpy}" />

    <!-- ROS2 Control -->
    <ros2_control name="${prefix}_psm_si_${tool_name}_ros2_control" type="system">

        <hardware>
            <plugin>fake_components/GenericSystem</plugin>
        </hardware>

        <xacro:psm_base_ros2_control prefix="${prefix}" />
        <xacro:psm_tool_ros2_control tool_name="${tool_name}" prefix="${prefix}" />

    </ros2_control>

</robot>