<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="ecm_ros2_control" params="prefix">

        <ros2_control name="${prefix}_ros2_control" type="system">
            <hardware>
                <plugin>fake_components/GenericSystem</plugin>
            </hardware>

            <joint name="${prefix}_outer_yaw">
                <command_interface name="position" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <joint name="${prefix}_outer_pitch">
                <command_interface name="position" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <joint name="${prefix}_insertion" type="prismatic">
                <command_interface name="position" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <joint name="${prefix}_outer_roll" type="revolute">
                <command_interface name="position" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <!-- Mimic Joints -->
            <joint name="${prefix}_outer_pitch_0">
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <joint name="${prefix}_outer_pitch_1">
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <joint name="${prefix}_outer_pitch_2">
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>